.pitch {
    //border-style: solid;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //width: xxx; // Any width will be fine
    //height: xxx: // Any height will be fine
}
